#bodyid {
    background-color: moccasin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.gen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    background-image:url("images/circuit.jpg");
    background-size: contain;
    gap: 4%;
    border-radius: 5%;

    width: 500px;
    height: 500px;
}


.screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    
    background-color: antiquewhite;

    
    padding: 1%;
    border: 2px solid black;
    width: 80%;
    height: 20%;
}
    .previous{
        font: 28px Arial, sans-serif;
        background-color: rgb(250, 209, 154);
        display: block;
    }
    .current {
        font: 42px Arial, sans-serif;

    }

.keys {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5%;
    
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5%;
    
    font: bold 24px Arial, sans-serif;

    width: 90%;
    height: 70%;
}

.key {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    border: 1px solid whitesmoke;

    background-color: sandybrown;

    width: 22%;
    height: 14%;
    
}

.equal, .zero {height: 30%;
    background-color: lightslategrey;
    color: black;

}

.operator {border: 1px solid green;

}

.key:hover {
    background-color: whitesmoke;
    font-size: xx-large;
}